# eclipse
.settings
.manager
.scala_dependencies

# idea
.idea
*.iml

# build
/target
*.class
target
null
tmp*
temp
dist
test-output

# other scm
.svn
.CVS
.hg*

#OSX
target/
Safari*OLD*
.DS_Store
.metadata
Icon?

#other
*.log
*/bin/
*~
*.bak
#*.off
*.old
.cache*
*.iml
*.ipr
*.iws
*.prefs
*.db
*.tmproj
*.sublime-workspace
*.sublime-project

#js
bower_components
node_modules
node
.temp

# webpack
build/static
